name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  check-format:
    name: Check Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prettier
        # uses: actionsx/prettier@v3
        # with:
        # args: --check .
        run: |
          npm ci
          npx prettier --check .
